.login-form
{
 
   width:100%; 
   max-width:330px; 
   padding:12px 20px;
   padding-top:16px;
   margin: 8px 0;
  z-index: 1;
   
  height:300%;
  text-align: center;
  margin-top:50px;
margin-left:-6%;
 box-sizing: border-box;
 border: 8px solid #ccc;
  display: inline-block;
background-position:center;
  
}
.font
{
  margin:30px;
}
.button
{
  width:68%;
  height:10%;
  background-color: #4CAF50;
}
